**/__pycache__/**
/ocrenv/
/ndlkotenocr-lite-gui/build/
/ndlkotenocr-lite-gui/src/
/ndlkotenocr-lite-gui/userconf.yaml
/ndlkotenocr-lite-gui/debug.log
/ndlkotenocr-lite-gui/4ab7ecc3-53fb-b3e7-64e8-a809b5a483d2/
/example/
